
@opacity: 70; // Explicit is better than implicit IN UR FACE GET REKT M8
.cursor-color(@color) {
    background-color: fade(@color, @opacity);
    border: 1px solid @color;
}

// Material palette

// colorBox
@red: #f44336;
@pink: #e91e63;
@purple: #9c27b0;
@deep-purple: #673ab7;
@indigo: #3f51b5;
@blue: #2196f3;
@light-blue: #03a9f4;
@cyan: #00bcd4;
@teal: #009688;
@green: #4caf50;
@light-green: #8bc34a;
@lime: #cddc39;
@yellow: #ffeb3b;
@amber: #ffc107;
@orange: #ff9800;
@deep-orange: #ff5722;
@brown: #795548;
@grey: #9e9e9e;
@blue-grey: #607d8b;
@white: #fafafa;
@black: #212121;

// Extra
@dark-white: #f5f5f5;
@light-black: #424242;

// Custom
@grey-placeholder: #8fa9a9;
@grey-border: #333333;
@start-green: #00c853;
@start-green-hover: #00e676;

// TODO: change class names
// colorBox color classes by hex value
._3f51b5, #text span._3f51b5{ .cursor-color(#3f51b5); }
._9e9e9e, #text span._9e9e9e{ .cursor-color(#9e9e9e); }
._8bc34a, #text span._8bc34a{ .cursor-color(#8bc34a); }
._2196f3, #text span._2196f3{ .cursor-color(#2196f3); }
._000000, #text span._000000{ .cursor-color(#000000); }
._cddc39, #text span._cddc39{ .cursor-color(#cddc39); }
._4caf50, #text span._4caf50{ .cursor-color(#4caf50); }
._009688, #text span._009688{ .cursor-color(#009688); }
._ffeb3b, #text span._ffeb3b{ .cursor-color(#ffeb3b); }
._673ab7, #text span._673ab7{ .cursor-color(#673ab7); }
._e91e63, #text span._e91e63{ .cursor-color(#e91e63); }
._ff9800, #text span._ff9800{ .cursor-color(#ff9800); }
._f44336, #text span._f44336{ .cursor-color(#f44336); }
._ffffff, #text span._ffffff{ .cursor-color(#ffffff); }
._607d8b, #text span._607d8b{ .cursor-color(#607d8b); }
._9c27b0, #text span._9c27b0{ .cursor-color(#9c27b0); }
._ffc107, #text span._ffc107{ .cursor-color(#ffc107); }
._00bcd4, #text span._00bcd4{ .cursor-color(#00bcd4); }
._ff5722, #text span._ff5722{ .cursor-color(#ff5722); }
._03a9f4, #text span._03a9f4{ .cursor-color(#03a9f4); }
._795548, #text span._795548{ .cursor-color(#795548); }