// Material palette

// colorBox
@red: #f44336;
@pink: #e91e63;
@purple: #9c27b0;
@deep-purple: #673ab7;
@indigo: #3f51b5;
@blue: #2196f3;
@light-blue: #03a9f4;
@cyan: #00bcd4;
@teal: #009688;
@green: #4caf50;
@light-green: #8bc34a;
@lime: #cddc39;
@yellow: #ffeb3b;
@amber: #ffc107;
@orange: #ff9800;
@deep-orange: #ff5722;
@brown: #795548;
@grey: #9e9e9e;
@blue-grey: #607d8b;
@white: #fafafa;
@black: #212121;

// Extra
@dark-white: #f5f5f5;
@light-black: #424242;

// Custom
@grey-placeholder: #8fa9a9;
@grey-border: #333333;
@start-green: #00c853;
@start-green-hover: #00e676;

// colorBox color classes by hex value
@o: 70%; // Opacity
._ffc107 {background-color:fade(@amber, @o);}
._iffc107 {background-color:fade(@amber, @o) !important;}
._ff5722 {background-color:fade(@deep-orange, @o);}
._iff5722 {background-color:fade(@deep-orange, @o) !important;}
._fafafa {background-color:fade(@white, @o);}
._ifafafa {background-color:fade(@white, @o) !important;}
._3f51b5 {background-color:fade(@indigo, @o);}
._i3f51b5 {background-color:fade(@indigo, @o) !important;}
._795548 {background-color:fade(@brown, @o);}
._i795548 {background-color:fade(@brown, @o) !important;}
._f44336 {background-color:fade(@red, @o);}
._if44336 {background-color:fade(@red, @o) !important;}
._212121 {background-color:fade(@black, @o);}
._i212121 {background-color:fade(@black, @o) !important;}
._ff9800 {background-color:fade(@orange, @o);}
._iff9800 {background-color:fade(@orange, @o) !important;}
._03a9f4 {background-color:fade(@light-blue, @o);}
._i03a9f4 {background-color:fade(@light-blue, @o) !important;}
._4caf50 {background-color:fade(@green, @o);}
._i4caf50 {background-color:fade(@green, @o) !important;}
._ffeb3b {background-color:fade(@yellow, @o);}
._iffeb3b {background-color:fade(@yellow, @o) !important;}
._9c27b0 {background-color:fade(@purple, @o);}
._i9c27b0 {background-color:fade(@purple, @o) !important;}
._cddc39 {background-color:fade(@lime, @o);}
._icddc39 {background-color:fade(@lime, @o) !important;}
._8bc34a {background-color:fade(@light-green, @o);}
._i8bc34a {background-color:fade(@light-green, @o) !important;}
._00bcd4 {background-color:fade(@cyan, @o);}
._i00bcd4 {background-color:fade(@cyan, @o) !important;}
._607d8b {background-color:fade(@blue-grey, @o);}
._i607d8b {background-color:fade(@blue-grey, @o) !important;}
._9e9e9e {background-color:fade(@grey, @o);}
._i9e9e9e {background-color:fade(@grey, @o) !important;}
._009688 {background-color:fade(@teal, @o);}
._i009688 {background-color:fade(@teal, @o) !important;}
._e91e63 {background-color:fade(@pink, @o);}
._ie91e63 {background-color:fade(@pink, @o) !important;}
._673ab7 {background-color:fade(@deep-purple, @o);}
._i673ab7 {background-color:fade(@deep-purple, @o) !important;}
._2196f3 {background-color:fade(@blue, @o);}
._i2196f3 {background-color:fade(@blue, @o) !important;}

