body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: @black;
    color: white;
    height: 100vh;
}

#intro {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#intro-flexy {
    text-align: center;
    min-width: 270px;
}

#header {
	margin: 0 auto;
	margin-bottom: 20px;
	width: 242px;
	#title {
		font-size: 55px;
		letter-spacing: 5px;
		vertical-align: middle;
	}

	#logo {
		width: 60px;
		margin: 5px 15px 5px 0;
		vertical-align: middle;
	}
}

#getname {
	padding: 10px;
	border: 0;
	outline: 0;
	background: inherit;
	text-align: center;
	border-bottom: 1px solid;
	color: white;
	font: inherit;
	font-size: 17px;
}
#getname::placeholder {
	color: @grey-placeholder;
}

#getcolor {
	padding: 5px;
	background: @black - #151515;
	margin: 20px auto;
	max-width: 400px;
	border: 1px solid @grey-border;
	border-radius: 5px;
	div {
		width: 30px;
		height: 30px;
		display: inline-block;
		margin: 10px;
		border-radius: inherit;
		border: 1px solid @grey-border;
		cursor: pointer;
		transition: 1s;
	}
	.selected {
		border-color: white;
		transition: 0.3s;
	}
}

#start {
	display: inline-block;
	padding: 15px 50px;
	background: @green;
	border-radius: 3px;
	cursor: pointer;
	transition: 1s;
	text-transform: uppercase;
}
#start:hover {
	background: @green + #151515;
	transition: 0.3s;
}

footer {
	margin-top: 20px;
	h5 {
		font-weight: normal;
	}
	a {
		border-bottom: 1px dotted grey;
	}
}
