#stats {
	padding: 10px;
}

#stats-table {
	width: 100%;
	min-width: 350px;
	margin-top: 20px;

	thead {
		text-align: left;
	}

	.border-bottom {
		border-bottom: 1px solid;
	}

	td {
		padding: 10px 0px 5px;
	}
}

#performance-graph {
    width: 100%;
    min-width: 250px;
    height: 300px;
    margin: 2em 0;

    // border: 1px solid @white;
    // border-radius: 2px;

    svg {
        width: 100%;
        height: 100%;
        line, polyline { stroke: @white; }
        #x-axis, #y-axis { stroke-width: 3px; }
        #avg { stroke-width: 10px; opacity: 0.5; display: none }
    }
}

