[Unit]
Description=abra webapp
After=network.target

[Service]
User=http
WorkingDirectory=/srv/http/abra/server
ExecStart=/usr/bin/node /srv/http/abra/server/main.js deploy
Restart=always

[Install]
WantedBy=multi-user.target

# vim: ft=systemd
